.login-form {
	box-sizing: border-box;
	width: 500px;
	height: fit-content;
	background-color: #fff;
	box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin: 0 auto;
	font-family: sans-serif;
	position: relative;
	top: 20vh;
}
.login-form h2 {
	text-align: center;
	font-size: xx-large;
	margin-top: 0;
}
.login-form form * {
	display: block;
	width: 100%;
	font-size: medium;
}
.login-form form label {
	font-weight: 600;
	margin-bottom: 5px;
}
.login-form form input {
	width: 93%;
	padding: 5px 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	margin-bottom: 15px;
}
.login-form form input:focus {
	border: 2px solid #8f8ac3;
}
.login-form form #submit-btn {
	border-radius: 3px;
	background-color: #7367f0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	cursor: pointer;
}
.login-form form #submit-btn:active {
	box-shadow: 0 0 0 3px #8f8ac3;
}
.login-form h1 {
	font-weight: 500;
	font-size: small;
	color: #aaa;
	text-align: center;
	margin: 20px 0;
}
.login-form form .other-login {
	display: flex;
}
.login-form form .other-login .google-btn {
	background-color: #4181ea;
	margin-right: 5px;
}
.login-form form .other-login .google-btn:hover {
	background-color: #5390f5;
}
.login-form form .other-login .btn {
	display: flex;
	box-sizing: border-box;
	height: 38px;
	border-radius: 3px;
	padding: 2px;
	border: none;
	align-items: center;
	color: #fff;
	font-size: large;
	outline: none;
	cursor: pointer;
}
.login-form form .other-login .btn div:last-child {
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-form form .other-login .logo {
	width: 36px;
	padding: 7px;
	box-sizing: border-box;
	background-color: #fff;
}
.login-form form .other-login .facebook-btn {
	background-color: #1877f2;
	margin-left: 5px;
}
.login-form form .other-login .facebook-btn:hover {
	background-color: #2d83f3;
}
.login-form form .other-login .facebook-btn span {
	width: 32px;
	font-size: x-large;
	margin-left: 2px;
}

.login-form p:last-child {
	font-size: large;
}
.login-form p a {
	color: #8f8ac3;
	text-decoration: none;
	display: inline;
	font-size: large;
}

@media screen and (max-width: 576px) {
	.login-form {
		width: 100%;
		background-color: #f8f8f8;
		box-shadow: none;
	}
}
