.Breadcrumb {
	font-size: large;
	margin-left: 10px;
}
.Breadcrumb a {
	text-decoration: none;
	color: #7367f0;
}
.Breadcrumb a.active {
	color: #000;
}

@media only screen and (max-width: 1200px) {
	.Breadcrumb {
		display: none;
	}
}
