ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}
ul > li {
	margin: 3px;
	cursor: pointer;
}
li > a {
	background-color: #f0f0f0;
	border-radius: 3px;
	padding: 2px 5px;
	outline: none;
	transition: background-color linear 0.2s;
}
ul .selected a {
	color: #fff;
	background-color: #7367f0;
}
